.section{
  /* border-bottom: 1px solid grey; */
  background-color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.touxiangImg{
  border-radius: 10px;
  width: 20px;
  height: 20px;
}
.username{
  margin-right: 10px;
}
.userDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.contentDiv{
  margin-top: 10px;
  margin-left: 20px;
}
.contentSpan:hover{
  cursor: pointer;
  color: rgb(142, 190, 206);
}
.respondButton{
  border: none;
  margin-left: 50px;
  background-color: rgb(201, 210, 240);
  outline-color: rgb(195, 211, 219);
  color: black;
  width: 50px;
  height: 20px;
  cursor: pointer;
  border-radius: 5px;
  /* font-weight: bolder; */
}
.svgDiv{
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}
.pinglunsvgDiv{
  display: inline-block;
  margin-left: 50px;
  cursor: pointer;
}
.commentFormDivShow{
  margin-left: 20px;
}
.commentFormDivHidden{
  display: none;
}
.input{
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 224);
  height: 20px;
  text-align: center;
  color: grey;
  font-weight: bolder;
}
.input:focus{
  outline: none;
  box-shadow: 0px 0px 1px 1.5px rgb(200, 200, 224);
}
.btn{
  border-radius: 5px;
  width: 50px;
  color: black;
  height: 25px;
  font-size: 0.8em;
  cursor: pointer;
  margin-left: 10px;
}
.btn:focus{
  outline: none;
}
.btn-primary{
  background-color: rgb(138, 218, 243);
  border: 1px solid rgb(138, 218, 243);
}
.btn-primary:focus{
  box-shadow: 0px 0px 1px 1.5px rgb(138, 218, 243);
}
.btn-warning{
  background-color: rgb(248, 222, 71);
  border: 1px solid rgb(248, 222, 71);
}
.btn-warning:focus{
  box-shadow: 0px 0px 1px 1.5px rgb(248, 222, 71);
}
.like_num{
  color: grey;
  font-size: 14px;
}