.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
ul{
  width: 200px;
  margin-right: 50px;
}
li{
  list-style: none;
  background-color: white;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  cursor: pointer;
}
li:hover {
  background-color: rgb(218, 218, 240);
}
.liColor{
  background-color: rgb(218, 218, 240);
}
