<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客</title>
  <link rel="stylesheet" href="../static/CSS/blog.css">
  <script src="../static/CSS/iconfont/iconfont.js"></script>
  <style>
    .icon1 {
      width: 1.2em;
      height: 1em;
      /* vertical-align: -0.15em; */
      fill: currentColor;
      overflow: hidden;
    }
    .icon2 {
      width: 1.5em;
      height: 2em;
      vertical-align: -0.5em;
      fill: currentColor;
      overflow: hidden;
    }
  </style>
</head>
<body>
  <div id="blog">
  </div>
  <script src="../static/JS/blog.js" type="module"></script>
  
</body>
</html>