<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客</title>
  <link rel="stylesheet" href="../static/CSS/blog.css">
</head>
<body>
  <div>
    <section class="section">
      <h4>博客标题</h4>
      <div>
        <span>
          <img src="" alt="头像">
        </span>
        <span>博客内容摘要</span>
      </div>
    </section>
    <section class="section">
      <h4>博客标题2</h4>
      <div>
        <span>
          <img src="" alt="头像">
        </span>
        <span>博客内容摘要</span>
      </div>
    </section>
  </div>
</body>
</html>